#virsraksts{
    position: absolute;
    left: 37%;
    width: 500px;
    height: 49px;
    font-size:40px;
    background-color:grey;
    text-align: center;
    font-family:fantasy;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:grey;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: green;
    color:grey;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: green;
    color:green;
  }
  #fons{
    background-color: grey;
 
  }

  a {
    font-family: fantasy;
    padding: 14px 20px;
    color:black;
    
  }

 }
 tr{
   text-align:left;
   width: 20%;
 }

 .container{
  flex-direction: row;
  flex-basis: 20%;
  position: absolute;
  display: inline-flex;
  top: 20%;
  left:10%;
  width:80%;
  height: 60%;
  background-color:grey;
  justify-content: space-between;
 }
 div{
   background-color: white;
   width: 20%;
   text-align: center;
   font-family: fantasy;

   
 }

  


    
    
    
  
  
